<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Dev Logger - Blog Post Preview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    .form-image{
      max-width: 100%;
      max-height: 300px;
    }
  </style>
</head>

<body>
  <div class="container">

      {{#each this}}
          <img src="{{this.img}}" class="form-image">
          <p>{{this.value}}</p>
      {{/each}}
      </div>

    </div>

</body>


</html>
